
  /* styling */

main section:nth-of-type(1),
main section:nth-of-type(2) {
    max-width: 55rem;
    margin-inline: auto;
  }

main a {
  color: var(--nogdonkerehuiskleurblauw);
  text-underline-offset: .2em;
}

  /* tabel */

  /* Gebruikte bron voor caption: https://www.w3schools.com/tags/tag_caption.asp */
  /* Gebruikte bron tabel stylen: https://www.w3schools.com/css/css_table.asp */

  caption {
    position: absolute;
    left: -1000em;
  }

table a {
    color: var(--nogdonkerehuiskleurblauw);
    font-family: "amaranthregular";
    text-underline-offset: .2em;
    font-size: 1.1em;
}

  table,
    th,
    td {
    border: .1em solid var(--schaduw);
    border-collapse: collapse;
    font-family: "amaranthregular";
    text-align: left;
    margin: auto;
    width:60% ;
  }

  th,
  td {
    padding: .7em;
    line-height: 1.3em;
  }

  th {
    background-color: var(--donkerehuiskleurblauw);
    color: var(--huiskleurwit);
    font-size: 1em;
  }

  td {
    font-size: .6em;
  }

/* Media voor tabel */

  @media (min-width: 25em) {
    td {
        font-size: .7em;
    }
  }

  @media (min-width: 42em) {
    td {
        font-size: .9em;
    }

    th {
        font-size: 1em;
    }
  }


/* BOEKEN POP UP */

:root {
  --whitespace: clamp(1.25em, 5vw, 2em);
}

/* Sluit button */

dialog button.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  aspect-ratio: 1;

  background-color: var(--nogdonkerehuiskleurblauw);
  color: var(--huiskleurwit);
  border: solid .1em var(--huiskleurwit);
}

dialog button.close:hover {
  background-color: var(--huiskleurwit);
  color: var(--nogdonkerehuiskleurblauw);
}


/* Locatie dialog */

main dialog {
  position: fixed;
  right: var(--whitespace);
  bottom: var(--whitespace);
  left: auto;

  z-index: 2;
}

/* Styling dialog (uit opdracht codepen)*/

dialog {
  width: min(100% - var(--whitespace) * 2,
      12em + var(--whitespace) * 2);

  padding: 3em var(--whitespace) var(--whitespace);

  background: linear-gradient(-45deg, var(--nogdonkerehuiskleurblauw), var(--donkerehuiskleurblauw));
  border-radius: var(--whitespace);
  color: var(--huiskleurwit);

  overflow: visible;

  border: none;
}

dialog form {
  display: grid;
  gap: 1em .5em;
}

dialog h2 {
  margin: 0;
  font-weight: 400;
  line-height: 1.25;
  color: var(--huiskleurwit);
  font-family: "amaranthregular";
}

dialog p {
  margin: 0;
}

dialog label {
  color: var(--middelblauw);
  font-family: "amaranthregular";
}

textarea::placeholder {
  color: var(--huiskleurwit);
}

dialog :is(input, textarea) {

  background-color: var(--nogdonkerehuiskleurblauw);
  color: var(--huiskleurwit);
  border: solid .1em var(--huiskleurwit);

  width: 100%;
  padding: .7em .7em;
  appearance: none;
  font-size: 1em;
  border-radius: .5em;
  height: 7em;

  font-family: "amaranthregular";
}

button[type=submit] {
  background-color: var(--nogdonkerehuiskleurblauw);
  color: var(--huiskleurwit);
  border: solid .1em var(--huiskleurwit);
 
  border-radius: 10em;
}

button[type=submit]:hover {
  border-radius: 10em;

  background-color: var(--huiskleurwit);
  color: var(--nogdonkerehuiskleurblauw);
}

section:nth-of-type(6)>button {
  border-radius: 1.2em;
  position: fixed;
  right: var(--whitespace);
  bottom: var(--whitespace);


  width: 5em;
  aspect-ratio: 1;

  appearance: none;

  background-color: var(--nogdonkerehuiskleurblauw);
  color: var(--huiskleurwit);
  font-size: 1em;

  cursor: pointer;

  box-shadow: .1em .1em .2em var(--schaduw);
}

/* alle buttons */
button {
  padding: .5em 1em;
  background-color: var(--color-background);
  border-radius: .5em;
  border: solid var(--color-background);

  
  line-height: 1.25;
  font-size: 1em;

  font-family: "amaranthregular";

  cursor: pointer;
}

/* animatie button schalen en draaien */

section:nth-of-type(6)>button:hover {
  animation-name: schalenbutton;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes schalenbutton {
  0% {
scale: 1;
rotate: 0;
  }

  50% {
scale: 1.2;
border-radius: 20em;
box-shadow: .2em .2em .5em var(--schaduw);
  }

  100% {
scale: 1;
rotate: 360deg;
  }
}