/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #111;
  --color-background: #f4f9ff;
  --huiskleurblauw: #2F75DC;
  --lichtehuiskleurblauw: #2f74dc92;
  --huiskleurwit: #FFFFFF;
  --h3kleur: #6da5f9;
  --donkerehuiskleurblauw: #2258aa;
  --nogdonkerehuiskleurblauw: #183f7b;
}


@font-face {
  font-family: "huistypografiebold";
  src: url("../fonts/Helvetica-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "huistypografietekst";
  src: url("../fonts/Helvetica.ttf");
}


/****************/
/* JOUW STYLING */
/****************/


/* afbeeldingen coach */

/* section:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	margin-bottom: 5em;
} */

/* section:nth-of-type(1)>img {
	width: 23%;
} */


main section:nth-of-type(1) {
  max-width: 55rem;
  margin-inline: auto;
}

/* tweede section */

main section:nth-of-type(2) {
  max-width: 55rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: max-content 1fr;
}

main section:nth-of-type(2) h3 {
  grid-column: 2;
  grid-row: 1;
}

main section:nth-of-type(2) p {
  grid-column: 1;
  grid-row: 2;
}

main section:nth-of-type(2) img {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  position: relative;
  top: 1em;
  left: 2em;
}

/* derde section */

main section:nth-of-type(2) {
  max-width: 55rem;
  margin-inline: auto;
}

/* vierde section */

main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

/* Container om kaarten */

main section:nth-of-type(3) ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: grid;
  grid-template-columns: min(100%, 20em);
  justify-content: center;
  gap: 2em;

  padding-top: 5vw;
  padding-bottom: 5vw;

  border-radius: 1em;
}

main section:nth-of-type(3) article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: var(--huiskleurwit);
  border-radius: 0.8em;
  box-shadow: 0.2em 0.1em 0.3em var(--lichtehuiskleurblauw);
}

main section:nth-of-type(3) h3 {
  font-size: 1.2em;
  line-height: 1.1em;
  padding-bottom: 1em;
  margin: 1.2em 0 0 1em;
  text-align: start;
  color: var(--nogdonkerehuiskleurblauw);
  font-family: "amaranthregular";
}

main section:nth-of-type(3) img {
  width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  display: block;
  border-radius: .4rem .4rem 0 0;

  order: -1;
}

main section:nth-of-type(3) button {
  position: relative;
  margin: 0.8em;
  padding: 0 .5em;

  appearance: none;
  background: var(--donkerehuiskleurblauw);
  color: var(--color-background);
  border: none;
  border-radius: .5em;
  box-shadow: var(--shadow-button);
  font-size: 1em;
  color: var(--color-button);
  cursor: pointer;
}

main section:nth-of-type(3) button:active {
  transform: translateY(.1em);
}

main button a {
  color: var(--color-background);
  text-decoration: none;
}

/* vierde section: video + button */

section:nth-of-type(4) {
  position: relative;
  display: inline-block;
}

section:nth-of-type(4) button {
  appearance: none;
  background-color: var(--color-background);
  padding: .3em;
  border: solid .01em var(--color-background);
  border-top-right-radius: .5em;
  opacity: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
}


section:nth-of-type(4) button:hover {
  opacity: 100%;
  cursor: pointer;
}

video {
  max-width: 50em;
  height: auto;
  display: block;
}

button>img {
  width: 1.5em;
}


@media (min-width: 25em) {

  section:nth-of-type(4) button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


@media (min-width: 30em) {

  button>img {
    width: 2em;
  }
}

/* media queries */


@media (min-width: 50em) {
  main section:nth-of-type(3)>ul {

    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

}

@media (min-width: 80em) {
  main>section:nth-of-type(3)>ul {

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 80em) and (max-width: 140em) {

    main>section:nth-of-type(2)>ul {
      display: flex;
      flex-wrap: wrap;
      gap: 3em;
    }

    main>section:nth-of-type(2)>ul>li {
      list-style: none;
      width: 33%;
    }
  }
}