/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #f4f9ff;
    --huiskleurblauw: #2F75DC;
    --huiskleurwit: #FFFFFF;
    --h3kleur: #6da5f9;

    --color-text: #111;
    --color-background: #f4f9ff;
    --huiskleurblauw: #2F75DC;
    --lichtehuiskleurblauw: #2f74dc92;
    --huiskleurwit: #FFFFFF;
    --h3kleur: #6da5f9;
}

@font-face {
    font-family: "nieuwehuisstijl";
    src: url("../fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ\(3\).woff2");
}

@font-face {
    font-family: "huistypografiebold";
    src: url("../fonts/Helvetica-Bold.ttf");
    font-weight: bold;
}


/****************/
/* JOUW STYLING */
/****************/


/* hamburger menu*/

nav {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--color-background);

    translate: -100%;

    transition: .5s;

}

nav.is-open {
    translate: 0;
    font-size: 1.5em;

}

nav ul a {
    color: var(--color-text);
    font-family: "nieuwehuisstijl";
}

ul li {
    list-style: none;
}


button {
    appearance: none;

    width: 2.5em;
    aspect-ratio: 1/1;

    background-color: var(--color-background);
    border: none;

    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;

    position: relative;
    z-index: 1;
}

button span {
    display: block;

    width: 1.5em;
    height: .1em;
    background-color: black;

    grid-row-start: 1;
    grid-column-start: 1;

    transition: .2s;

}

button span:nth-of-type(1) {
    translate: 0 -.3em;
}

button span:nth-of-type(2) {

}

button span:nth-of-type(3) {
    translate: 0 .3em;
}



button.is-open span:nth-of-type(1) {
    translate: 0 0;
    rotate: 45deg;
}

button.is-open span:nth-of-type(2) {
    scale: 0 1;
}

button.is-open span:nth-of-type(3) {
    translate: 0 0;
    rotate: -45deg;
}


@media (min-width: 40em) {
    header button {
        display: none;
    }

    header nav {
        position: static;
        translate: 0;
        
    }

    header nav ul {
        display:flex;
        gap: 8em;
        font-size: 1.5em;
    }
}

@media (min-width: 40em) and (max-width: 60em){
    header nav ul {
        display: flex;
        justify-content: space-around;
        font-size: 1em;
        gap: 1.5em;
    }
}

@media (min-width: 60em) and (max-width: 120em) {
    header nav ul {
        font-size: 1em;
        gap: 1.5em;
    }
}

/* @media (min-width: 106em) {
    header nav ul {
        font-size: 1.2em;
        gap: 2em;
    }
} */


/* body, headings */

body {
    font-family: "huistypografietekst";
    background-color: var(--color-background);
}

/* 
body p {
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: left;
    margin: 0 15em 0 15em;
    margin-bottom: 0.8em;
}


h1,
h2 {
    font-family: "huistypografiebold";
    color: var(--huiskleurblauw);
    text-align: center;

}

h1 {
    margin-top: 3em;
    font-size: 2.8em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.4em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: "huistypografietekst";
    color: var(--h3kleur);
} */


/* footer */

footer {
    background-color: var(--huiskleurblauw);
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    padding: 5em
}

footer li,
a {
    color: var(--huiskleurwit);
    font-family: "huistypografietekst";
    line-height: 2em;
    list-style: none;
    font-size: 1.2em;
    text-decoration: none;
}

footer h2 {
    font-family: "huistypografiebold";
    color: var(--huiskleurwit);
    font-size: 2em;
}