/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #f4f9ff;
    --huiskleurblauw: #2F75DC;
    --lichtehuiskleurblauw: #2f74dc92;
    --huiskleurwit: #FFFFFF;
    --h3kleur: #6da5f9;
    --donkerehuiskleurblauw: #2258aa;
    --nogdonkerehuiskleurblauw: #183f7b;
    --schaduw:#a9a9a9;
  }
  
  
  @font-face {
    font-family: "huistypografiebold";
    src: url("../fonts/Helvetica-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "huistypografietekst";
    src: url("../fonts/Helvetica.ttf");
  }


  /* styling */
main section:nth-of-type(1) {
    max-width: 55rem;
    margin-inline: auto;
  }

  /* tabel */

table a {
    color: var(--nogdonkerehuiskleurblauw);
    font-family: "amaranthregular";
    text-underline-offset: .2em;
    font-size: 1.1em;
}

  table,
    th,
    td {
    border: .1em solid var(--schaduw);
    border-collapse: collapse;
    font-family: "amaranthregular";
    text-align: left;
    margin: auto;
    width:60% ;
  }

  th,
  td {
    padding: .7em;
    line-height: 1.3em;
  }

  th {
    background-color: var(--donkerehuiskleurblauw);
    color: var(--huiskleurwit);
    font-size: 1em;
  }

  td {
    font-size: .6em;
  }

  @media (min-width: 25em) {
    td {
        font-size: .7em;
    }
  }

  @media (min-width: 42em) {
    td {
        font-size: .9em;
    }

    th {
        font-size: 1em;
    }
  }




/* BOEKEN POP UP */

:root {
  --whitespace: clamp(1.25em, 5vw, 2em);
}

/* Sluit button */

dialog button.close {
position: absolute;
top: 0;
right: 0;
width: 3em;
aspect-ratio: 1;
}

/* Locatie dialog */

main dialog {
  position: fixed;
  right: var(--whitespace);
  bottom: var(--whitespace);
  left: auto;

  z-index: 2;
}

/* Styling dialog (uit opdracht codepen)*/

dialog {
  width: min(100% - var(--whitespace) * 2,
      12em + var(--whitespace) * 2);

  padding: 3em var(--whitespace) var(--whitespace);

  background: linear-gradient(-45deg, var(--nogdonkerehuiskleurblauw), var(--donkerehuiskleurblauw));
  border-radius: var(--whitespace);
  color: var(--huiskleurwit);

  overflow: visible;

  border: none;
}

dialog form {
  display: grid;
  gap: 1em .5em;
}

dialog h2 {
  margin: 0;
  font-weight: 400;
  line-height: 1.25;
  color: var(--huiskleurwit);
  font-family: "amaranthregular";
}

dialog p {
  margin: 0;
}

dialog label {
  color: var(--middelblauw);
  font-family: "amaranthregular";
}

textarea::placeholder {
  color: var(--schaduw);
}

dialog :is(input, textarea) {
  width: 100%;
  padding: .7em .7em;
  appearance: none;
  border: none;
  font-size: 1em;
  border-radius: .5em;
  height: 7em;

  font-family: "amaranthregular";
}

/* *, *::after, *::before {
  box-sizing:border-box;  
} */

section:nth-of-type(5) > button {
  border-radius: var(--whitespace);
  position: fixed;
  right: var(--whitespace);
  bottom: var(--whitespace);
  z-index: 1;

  width: 5em;
  aspect-ratio: 1;
  

  padding: .5em 1em;

  appearance: none;
  

  background-color: var(--donkerehuiskleurblauw);
  color: var(--huiskleurwit);
  font-size: 1em;

  cursor: pointer;
}

button {
  padding: .5em 1em;

  appearance: none;
  background-color: var(--color-background);
  border-radius: .5em;
  border: solid var(--color-background);
  color: var(--nogdonkerehuiskleurblauw);
  line-height: 1.25;
  font-size: 1em;

  font-family: "amaranthregular";

  cursor: pointer;

  
}